# ⚙️ Configuración del Sistema
APP_PORT=8000
TZ=America/Argentina/Buenos_Aires
ALLOWED_ORIGINS=http://localhost:8000,https://midominio.com

# 🔐 Seguridad y Firmas
JWT_SECRET=ingresa_una_cadena_muy_larga_y_segura_aqui

# 🛢️ Base de Datos PostgreSQL
DB_USER=jzadmin
DB_PASSWORD=ingresa_tu_password_segura
DB_NAME=jzpass_db
